.banner-area{
background-image: url('https://thumbs.dreamstime.com/b/asian-food-background-various-ingredients-rustic-stone-top-view-vietnam-thai-cuisine-148762904.jpg');
  width: 100%;
  /* height: ; */
  background-position: center center;
  background-size: cover;
  color:blanchedalmond
}

.content{
    padding: 160px 0;
}